# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  displayName: 'Building...'
  inputs:
    solution: '**\*.sln'
    platform: 'Any CPU'
    configuration: 'Release'
    clean: true
    maximumCpuCount: true
    msbuildArchitecture: 'x64'
    createLogFile: true
    logFileVerbosity: 'detailed'

# - task: VSBuild@1
#   inputs:
#     solution: '$(solution)'
#     # msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
#     msbuildArgs: '/p:DeployOnBuild=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip"'
#     platform: '$(buildPlatform)'
#     configuration: '$(buildConfiguration)'


# - task: DotNetCoreCLI@2
#   displayName: 'Unit testing'
#   inputs:
#     command: 'test'
#     projects: '**/*.csproj'
#     testRunTitle: 'NameForTheTestRun'


# - task: AzureCLI@2
#   displayName: 'Execute script'
#   inputs:
#     azureSubscription: 'MSDN MPN Core Benefits(d03f1a95-a58a-428c-a59f-6eda1995854a)'
#     scriptType: 'bash'
#     scriptLocation: 'scriptPath'
#     scriptPath: 'FullyQualifiedPathOfBatOrCmdScript'
#     arguments: '' #myScriptArguments


# - task: FtpUpload@2
#   displayName: 'FTP Upload Agent.BuildDirectory: $(Agent.BuildDirectory)'
#   inputs:
#     credentialsOption: 'inputs'
#     serverUrl: 'ftp://13.94.209.180'
#     username: 'kurt'
#     password: 'Welkom123'
#     rootDirectory: '$(Agent.BuildDirectory)'
#     filePatterns: '**'
#     remoteDirectory: '/BuildDirectory/$(Build.BuildId)/'
#     clean: false
#     cleanContents: false
#     preservePaths: false
#     trustSSL: false
- task: ManageRemoteWindowsService@1
  displayName: 'Manage Remote Windows Service'
  inputs:
    remoteServer: '172.17.50.11'
    remoteUserName: 'ideeds'
    remoteUserPassword: 'p1n.all=4UAT1'
    remoteWinRMProtocol: 'https'
    action: 'stop'
    serviceName: 'KurtsWindowsService'